<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="conString"  value="Data Source = .;Initial Catalog = DataStorage;User ID = sa;Password = 122354"/>
    <add key="server"  value="." />
    <add key="database"  value="DataStorage" />
    <add key="uid"  value="sa" />
    <add key="pwd"  value="122354" />
    <add key="font"  value="微软雅黑"/>
    <add key="fontSize"  value="15" />
  </appSettings>
  <connectionStrings>
    <add name="mycon" connectionString="Data Source = .;Initial Catalog = DataStorage;User ID = sa; Password = 122354" />
    <add name="bill_record.Properties.Settings.DataStorageConnectionString"
      connectionString="Data Source=.;Initial Catalog=DataStorage;Persist Security Info=True;User ID=sa;Password=122354"
      providerName="System.Data.SqlClient" />
    <add name="bill_record.Properties.Settings.DataStorageConnectionString1"
      connectionString="Data Source=DESKTOP-V7TJ5OE;Initial Catalog=DataStorage;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>